body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: rgb(233, 233, 233);
   
}
.fa-skyatlas{
    color: #b4484f;
    font-size: 2rem;
    
}
.nav-link{
    color: #4f4848 !important;
}
.f-info-links a{
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align:center;
}
/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.btn{
    background-color: #b4484f !important ;
    border:  double !important;
}
.btns{
    display: flex;
    padding-left: 10vh;
    
}
.show-img{
    height: 40vh;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}